* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 120vh;
}

img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
}

.container {
  border: 4px solid turquoise;
  width: 60vh;
  height: 120vh;
  font-family: "Rubik", sans-serif;
}

.playlist-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.playlist-header__icon {
  width: 33%;
  font-size: 29px;
  padding-left: 20px;
}

.playlist-header__text {
  width: 66%;
  font-size: 27px;
}

.playlist-main {
  display: flex;
  justify-content: center;
}

.playlist-main__img {
  display: flex;
  justify-content: flex-start;
  margin-top: 45px;
}

.playlist-main__imgbox {
  width: 125px;
  height: 125px;
  position: relative;
  right: 18px;
}

.playlist-main__title {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  margin-top: 45px;
  width: 40%;
}

.playlist-main__compose {
  font-size: 15px;
}

.playlist-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.playlist-btn > div:first-child {
  border: 2px solid black;
  text-align: center;
  margin-right: 5px;
  width: 46%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1.4px 5px 0px -1px rgba(0, 0, 0);
}

.playlist-btn > div:first-child > div {
  margin-top: 10px;
}

.playlist-btn > div:nth-child(2) {
  border: 2px solid black;
  text-align: center;
  margin-right: 5px;
  width: 21%;
  border-radius: 10px;
  box-shadow: 1.4px 5px 0px -1px rgba(0, 0, 0);
}

.playlist-btn > div:nth-child(2) > div {
  margin-top: 10px;
}

.playlist-btn > div:last-child {
  border: 2px solid black;
  text-align: center;
  width: 21%;
  border-radius: 10px;
  box-shadow: 1.4px 5px 0px -1px rgba(0, 0, 0);
}

.playlist-btn > div:last-child > div {
  margin-top: 10px;
}

.playlist-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 45px;
}

.playlist-footer-item {
  display: flex;
  margin-left: 10%;
  margin-bottom: 7%;
  width: 90%;
}

.playlist-footer-item > img {
  border: 3px solid black;
  border-radius: 10px;
  width: 65px;
  height: 65px;
}

.playlist-footer-item__info {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
}

.playlist-footer-item__info > span:first-child {
  margin-bottom: 10px;
  font-size: 20px;
}

.playlist-footer-item__info > span:nth-child(2) {
  margin-bottom: 3%;
  font-size: 12px;
  color: grey;
}

.playlist-footer__img {
  width: 40%;
  height: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.playlist-footer__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 46vh;
  font-size: 20px;
}
